[Desktop Entry]
Version=0.1.0
Name=Flow
Comment=A download manager for GNOME
Exec=flow
Icon=com.github.essmehdi.flow
Terminal=false
Type=Application
Keywords=Productivity;Download;Manager;
Categories=Utility;GTK;
StartupNotify=true